.vscode
LLD/.vs

LLD/BehavioralDesignPatterns/StateDesignPattern/.vs
LLD/BehavioralDesignPatterns/CommandDesignPattern/.vs
LLD/BehavioralDesignPatterns/ObserverDesignPattern/.vs
LLD/BehavioralDesignPatterns/StrategyPattern/.vs
LLD/BehavioralDesignPatterns/ChainOfResponsibilityDesignPattern/.vs

LLD/CreationalDesignPatterns/BuilderDesignPattern/.vs
LLD/CreationalDesignPatterns/FactoryAndAbstractFactoryDesignPattern/.vs
LLD/CreationalDesignPatterns/SingletonDesignPattern/.vs

LLD/StructuralDesignPatterns/DecoratorPattern/.vs
LLD/StructuralDesignPatterns/AdapterDesignPattern/.vs
LLD/StructuralDesignPatterns/CompositeDesignPattern/.vs
LLD/StructuralDesignPatterns/FacadeDesignPattern/.vs
LLD/StructuralDesignPatterns/FlyweightDesignPattern/.vs

LLD/FoodCartLLD/.vs
LLD/ParkingLotLLD/.vs
LLD/TicTacToeLLD/.vs
LLD/BoardGame/.vs
LLD/ElevatorSystemLLD/.vs